<h4><%= current_user.company %> 社員一覧</h4>
<%= flash[:notice] %>
<table class="table">
  <thead>
    <tr>
      <th>社員名</th>
      <th>保有スキル</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to current_user.name, current_user %></td>
      <td>
        <% count = 0 %>
        <% current_user.tags.each do |t| %>
          <% if count >= 10 %>
            <br>
            <% count = 0 %>
          <% end %>
          <span class="tag"><%= t.name %></span>
          <% count += 1 %>
        <% end %>
      </td>
    </tr>
    <% @users.each do |user| %>
      <% if current_user.company == user.company %>
        <tr>
          <% unless current_user == user %>
            <td><%= link_to user.name, user %></td>
            <td>
              <% count = 0 %>
              <% user.tags.each do |t| %>
                <% if count >= 10 %>
                  <br>
                  <% count = 0 %>
                <% end %>
                <span class="tag"><%= t.name %></span>
                <% count += 1 %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
