<h4>プロジェクト作成</h4>
<%= form_with model: @project, local: true do |f| %>
  <div>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div>
    <%= f.date_select :start_date, { start_year: 1960, end_year: Time.now.year, use_month_numbers: true } %>
  </div>
  <div>
    <%= f.date_select :end_date, { start_year: 1960, end_year: Time.now.year, use_month_numbers: true } %>
  </div>
  <div>
    <%= f.text_area :caption %>
  </div>
  <%= f.submit %>
<% end %>
